[submodule "agu2015"]
	path = agu2015
	url = https://github.com/abuddenb/agu2015.git 
[submodule "cics-monthly"]
	path = cics-monthly
	url = https://github.com/abuddenb/cics-monthly.git
[submodule "gdas-presentation"]
	path = gdas-presentation
	url = https://github.com/abuddenb/gdas-presentation.git
